body, html {
  height: 100%;
  margin: 0;
}

.background {
 background-image: url("https://aaronjhaj.github.io/image/Love-heart-hands.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.top-navbar {
  display: flex;
  float:right;
  font-family:'PT Sans Narrow', sans-serif;
  padding: 10px;
}

.top-navbar a {
  color: black;
  padding: 14px 18px;
  text-decoration: none;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 20px;
}
.top-navbar a:hover {
  border: 2px solid white;
  font-weight: bold;
  color: white;
}
.signup {
  position: absolute;
  top: 56%;
  left: 49.7%;
  transform: translate(-50%, -50%);
  font-family:'PT Sans Narrow', sans-serif;
}
.signup a {
  color: black;
  padding: 14px 18px;
  text-decoration: none;
  font-size: 35px;
  border: 2px solid black;
  border-radius: 20px;
}
.signup a:hover {
  border: 2px solid white;
  font-weight: bold;
  color: white;
}
