body, html {
  height: 100%;
  margin: 0;
}

.navbar {
  overlow: hidden;
  background: transparent;
  font-family:'PT Sans Narrow', sans-serif;
}


.background {
 background-image: url("https://aaronjhaj.github.io/image/Love-heart-hands.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
